<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757077967311-tce477qp66pq50k397r3s6qgemn58fbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757077967311-tce477qp66pq50k397r3s6qgemn58fbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAsW01l14ztRHwxM-g-PjrgMCVynFjCH4c</string>
	<key>GCM_SENDER_ID</key>
	<string>757077967311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EricTran.BerkeleySpots</string>
	<key>PROJECT_ID</key>
	<string>golden-spots-1b1f1</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-spots-1b1f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757077967311:ios:9c85b1facaf2d11a0492ba</string>
</dict>
</plist>